
    header{
      margin-top: 0%;
      text-align: center;
      font-size: 500%;
      font-family: Georgia;
      font-variant: small-caps;
    }

    img{
      width: 250px;
      border-radius: 150px;

    }
    p.cont{
      margin-top: 10%;
      text-align: center;
      color: white;
      font-size: 2em;
      font-family: Gill Sans Extrabold, sans-serif;
      
    }
    p{
      font-size: 1.874em;
    }
    #section1,h1{
      text-align: center;
      font-size: 130%;
      font-family: Trebuchet MS;
    }
    footer{
      font-family: Georgia;
      text-align: center;
      margin-top: 10%;
      color: #fff;
    }
    
    a.company:hover{
      color:pink !important;
    }
 
.demo{
  color: #fff;
}

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li a.brandico-twitter-bird {
  background-color: #4099FF;
}

ul.social-buttons li a.brandico-facebook {
  background-color: #3B5998;
}

ul.social-buttons li a.brandico-instagram {
  background-color: #3f729b;
}

ul.social-buttons li a.brandico-vimeo {
  background-color: #4EBBFF;
}

ul.social-buttons li a.brandico-linkedin {
  background-color: #0e76a8;
}

ul#demo1 li a {
  transition: transform 0.2s linear;
}

ul#demo1 li:hover a {
  transform: translateY(-10px);
}
 