
    header{
      margin-top: 0%;
      text-align: center;
      font-size: 500%;
      font-family: Georgia;
      font-variant: small-caps;
    }

    img.hero0{
      width: 250px;
      border-radius: 150px;

    }
    p.cont{
      margin-top: 5%;
      text-align: center;
      color: #FF4500;
      font-size: 2em;
      font-family: Gill Sans Extrabold, sans-serif;
      
    }
    p{
      font-size: 1.874em;
    }
    #section1,h1{
      text-align: center;
      font-size: 130%;
      font-family: Trebuchet MS;
    }
    footer{
      font-family: Georgia;
      text-align: center;
      margin-top: 10%;
      color: #fff;
    }
    
    a.company:hover{
      color:#024da1 !important;
    }
    a.company{
      color: #afd135 !important;
      text-decoration: none !important;
    }
    a.company:visited{
      color: green;
      text-decoration: none !important;
    }
 
.demo{
  color: #fff;
}